<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Alunos</title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
        <script src="bootstrap/js/bootstrap-table-pt-BR.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <script src="datepicker/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="datepicker/css/datepicker.css">
        <script src="bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.pt-BR.js"></script>
        <script>
            function radioExterno(){
                document.getElementById('siape').disabled = true;
                document.getElementById('siape').value = "";
                document.getElementById('instituicao').value = "";
                document.getElementById('instituicao').disabled = false;
            }
            function radioInterno(){
                document.getElementById('siape').disabled = false;
                document.getElementById('instituicao').disabled = true;
                document.getElementById('instituicao').value = "IFMS";
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div th:insert="~{nav :: menu}"></div>

                    <div class="form-row" style="margin-top: 2%">
                        <form action="editarPessoa" method="post">
                            <input type="hidden" name="id" th:value="${pessoa.id}">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                            <label for="nome">Nome</label> 
                                            <input required th:value="${pessoa.nome}" type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome do orientador " />
                                            
                                        </div>
                                
                                        
                                        <div class="form-group col-md-4">
                                            <label for="cpf">CPF</label> 
                                            <input required th:value="${pessoa.cpf}" type="number" class="form-control" id="cpf" name="cpf" placeholder="Informe o cpf do orientador " />
                                        </div>
                                         
                                        <div class="form-group col-md-4">
                                            <label for="area_conhecimento">Área de Conhecimento</label> 
                                            <input required th:value="${pessoa.area_conhecimento}" type="text" class="form-control" id="area_conhecimento" name="area_conhecimento" placeholder="Informe a area de conhecimento " />
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label for="link_lattes">Link Lattes</label>
                                            <input  th:value="${pessoa.link_lattes}" type="text" class="form-control" id="link_lattes" name="link_lattes" placeholder="Informe o LinkLattes " />
                                            
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="email">Email</label> 
                                            <input required th:value="${pessoa.email}" type="text" class="form-control" id="email" name="email" placeholder="Informe o email do orientador " />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="vagas_orientacao">Vagas para Orientação</label> 
                                            <input required th:value="${pessoa.vagas_orientacao}" type="number" class="form-control" id="vagas_orientacao" name="vagas_orientacao"  />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="total_aluno_orientados">Total de Aluno Orientados</label> 
                                            <input required th:value="${pessoa.total_alunos_orientados}" type="number" class="form-control" id="total_alunos_orientados" name="total_alunos_orientados" />
                                        </div>
                                        
                                        <div class="form-group col-md-12">
                                             <p><b>Pessoa Externa?</b></p>
                                            <p> <input require type="radio" value="sim" name="pessoa_externo" id="sim" onclick="radioExterno();" > <label for="sim" >SIM</label>
                                            <p> <input require type="radio" value="nao" name="pessoa_externo" id="nao" checked onclick="radioInterno();" > <label for="nao" >NÃO</label>
                                            <br>
                                        </div> 
                                        
                                        <div class="form-group col-md-4">
                                            <label for="siape">Siape</label>  
                                            <p><input required th:value="${pessoa.siape}" type="number" class="form-control" id="siape" name="siape"  /></p>
                                        </div>
                                       
                                        <div class="form-group col-md-4">
                                            <label for="instituicao">Instituição</label>   
                                            <p><input required th:value="${pessoa.instituicao}" type="text" class="form-control" id="instituicao" name="instituicao" disabled="disabled" /></p>
                                              
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="funcao">Função</label> 
                                              <p><input required th:value="${pessoa.funcao}" type="text" class="form-control" id="funcao" name="funcao"  /></p>

                                        </div>  
                            </div>
                            <div class="form-row">
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div th:insert="~{footer :: rodape}"></div>
        </div>