<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="rodape">
    
    <footer class="page-footer font-small blue pt-4" style="background: #54FF9F">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Sobre o SISGAT</h5>
        <p>Este é um sistema gerenciador academico de TCC's, Aqui você poderá ver informações sobreTCC's  apresentados e em desenvolvimento 
         na instituição,informações sobre sobre orientadores e bancas avaliadoras marcadas</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      

      

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Autor: Thiago D' Avila Alves
   
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    
    
    
    
    
    
    
    
    
    
    
    
    
    
</div>

