<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Sistema Gerenciador</title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        
    </head>
    <body>
    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px; background:#54FF9F">
            <h1>Seja bem-vindo ao S.I.S.G.A.T</h1>
            
           
                 
                <div class="form-group row">
                                <label for="login" class="col-md-4 col-form-label text-md-right">Login</label>
                                <div class="col-md-5">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>
                                    <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="senha" class="col-md-4 col-form-label text-md-right" ><b>Senha</b></label>
                                <div class="col-md-5">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i>
                                    <input type="password" id="password" class="form-control" name="password" required>
                                    </span>
                                </div>
                            </div>

                            

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" >
                                    Register
                                </button>
                                <a href="#" class="btn btn-link">
                                    Solicitar Cadastro
                                </a>
                            </div>
                    </div>
            
           
            <div align="center">
                <a href="listaTrabalhosCards" class="btn btn-lg btn-primary">Clique aqui para acessar o sistema como visitante </a>
            </div>
        </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    </body>
</html>