<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Sistema Gerenciador</title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        
        
    </head>
    <body>
    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px; background:cyan">
            <h1>Seja bem-vindo ao S.I.S.G.A.T</h1>
            
            <div class="col-md-6">
                <div class="form-group">
                      <label for="login"><b>Login</b></label> <input type="text" class="form-control" id="login" name="login" placeholder="DIgite aqui seu Login" />
                      <label for="senha"><b>Senha</b></label> <input type="password" class="form-control" id="senha" name="senha" placeholder="DIgite aqui sua Senha" />
                </div>
            </div>
            <div>
                 <a class="navbar-brand" href="#">LOGIN ADMINISTRADOR</a> 
            </div>
            <div>
                 <a class="navbar-brand" href="#">LOGIN ORIENTADOR</a>
            </div>
            <div>
                 <a class="navbar-brand" href="#">LOGIN ALUNO</a>
            </div>
            <div align="center">
                <a href="listaTrabalhosCards" class="btn btn-lg btn-primary">Clique aqui para acessar o sistema como visitante </a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    </body>
</html>