<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="menu">
      <nav class="navbar navbar-expand-lg navbar-black bg-light alert alert-secondary"   >
  <b><a class="navbar-brand" href="listaTrabalhosCards" >SISGAT</a></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse alert alert-secondary" id="navbarSupportedContent"  >
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
           <b><a class="nav-link" href="listaBancas">Bancas Avaliadoras</a></b>
      </li>
       <li class="nav-item active">
           <b><a class="nav-link" href="listaTrabalhos">Trabalhos</a></b>
      </li>
      <li class="nav-item active">
        <b><a class="nav-link" href="listaPessoas">Orientadores</a></b>
      </li>
           
      <li class="nav-item active">
       <b><a class="nav-link" href="listaAlunos">Alunos</a></b>
      </li>
      <li class="nav-item active">
        <b><a class="nav-link" href="listaCursos">Cursos</a></b>
      </li>
     
      
    </ul>
      <button>
      <li ><a href="/logout"><span class="glyphicon glyphicon-user" style="background:blue"></span> Sair</a></li>
      </button>
      
          
         
      
    
  </div>
</nav>
</div>