<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="listaTrabalhosCards">SISGAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" href="listaBancas">Bancas Avaliadoras</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="listaTrabalhos">Trabalhos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="listaPessoas">Orientadores</a>
      </li>
           
      <li class="nav-item active">
        <a class="nav-link" href="listaAlunos">Alunos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="listaCursos">Cursos</a>
      </li>
     
      
    </ul>
    
      <li ><a href="/logout"><span class="glyphicon glyphicon-user"></span> Sair</a></li>
      <li ><a href="login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    
  </div>
</nav>
</div>